@font-face {
    font-family: 'Monument';
    src: url('../fonts/MonumentExtended-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MonumentB';
    src: url('../fonts/MonumentExtended-Ultrabold.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lektorat';
    src: url('../fonts/Lektorat-CondensedBold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'LektoratL';
    src: url('../fonts/Lektorat-CondensedRegular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RobotoC';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'FreeSans';
    src: url('../fonts/FreeSans.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nimbus';
    src: url('../fonts/Nimbus-Sans-D-OT-Light_32752.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  *{
      margin: 0;
      cursor: url('../img/mouse.png'), auto;
      
  }

  :root{
    --primary: #3f8f52;
    --secondary: #c7cec5;
    --background: #FEFFFE;
    --title: #2C2C29;
    --text:rgb(111, 111, 111)
  }
  
  a{
    text-decoration: none;
  }
  
  ::-webkit-scrollbar{
    background-color: var(--background) ;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: var(--primary) ;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: var(--secondary) ;
    border-radius: 5px;
  }
  
  body{
      background-color: var(--background) ;
      
  }
  
  h1,h2,h3{
      color: var(--title);
      
  }
  
  h2,h3{
   font-family: "Lektorat";
   font-size: 40px;
   text-transform: uppercase;
   letter-spacing: -0.035em;
      
  }